<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

<!-- =================================================================================== -->
<!-- |    This XACRO contains physical elements (the chassis and wheels ) of the robot | -->
<!-- =================================================================================== -->




</robot>